{
  "extends": ["airbnb"],
  "globals": {
    "document": false,
    "fetch": false
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/forbid-prop-types": [0],
    "import/prefer-default-export": [0]
  }
}
